---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{Astro.props.title}</title>
</head>
<body>
  <header style="padding:1rem;background:#3ab9d4;color:white;">
    <h1>{Astro.props.title}</h1>
  </header>
  <main style="padding:1rem">
    <slot />
  </main>
</body>
</html>
